@charset "UTF-8";

.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,100px);
    grid-auto-rows: 100px;
    gap: 2px;
    text-align: center;
    font-size: 1.5em;
    font-style: italic;
}
.caixa1{
    background-color: rgb(100, 36, 160);
    /* grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5; */
    grid-row: 1/2;
    grid-column: 1/5;
}
.caixa2{
    background-color: rgb(30, 30, 186);
    /* grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3; */
    grid-row: 2/4;
    grid-column: 1/3;
}
.caixa3{
    background-color: rgb(142, 30, 30);
    /* grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5; */
    grid-row: 2/4;
    grid-column: 3/5;
}
.caixa4{
    background-color: rgb(71, 114, 115);
    /* grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 5; */
    grid-row: 4/5;
    grid-column: 1/5;
}