@charset "UTF-8";

        *{
            box-sizing: border-box;
            margin: 0px;
            padding: 0px;
        }
        body{
            background-color: lightslategray;
        }
        header > h1{
            text-align: center;
        }
        section{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            
        }
        section > h1{
            display: block;
            margin: auto;
        }
        .container{
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 3px;
            width: 200px;
            height: 200px;
            background-color: white;
            border: 2px solid black;
            margin: 5px;
        }
        article{
            display: grid;
        }
        article > h2{
            text-align: center;
        }
        div.intem{
            background-color: bisque;
            border: 2px dotted lightsalmon;
        }
        div.container1{
            align-items: start;
        }
        div.container2{
            align-items: center;
        }
        div.container3{
            align-items: end;
        }
        div.container4{
            align-items: stretch;
            justify-items: start;
        }
        div.container5{
            align-items: stretch;
            justify-items: center;
        }
        div.container6{
            align-items: stretch;
            justify-items: end;
        }
        div.container7{
            align-items: stretch;
            justify-items: stretch;
            align-content: start;
        }
        div.container8{
            align-items: stretch;
            justify-items: stretch;
            align-content: center;
        }
        div.container9{
            align-items: stretch;
            justify-items: stretch;
            align-content: end;
        }
        div.container10{
            align-items: stretch;
            justify-items: stretch;
            align-content: space-between;
        }
        div.container11{
            align-items: stretch;
            justify-items: stretch;
            align-content: space-evenly;
        }
        div.container12{
            align-items: stretch;
            justify-items: stretch;
            align-content: space-around;
        }
        div.container13{
            align-items: stretch;
            justify-items: stretch;
            align-content: stretch;
            justify-content: start;
        }
        div.container14{
            align-items: stretch;
            justify-items: stretch;
            align-content: stretch;
            justify-content: center;
        }
        div.container15{
            align-items: stretch;
            justify-items: stretch;
            align-content: stretch;
            justify-content: end;
        }
        div.container16{
            align-items: stretch;
            justify-items: stretch;
            align-content: stretch;
            justify-content: space-between;
        }
        div.container17{
            align-items: stretch;
            justify-items: stretch;
            align-content: stretch;
            justify-content: space-evenly;
        }
        div.container18{
            align-items: stretch;
            justify-items: stretch;
            align-content: stretch;
            justify-content: space-around;
        }
        footer{
            background-color: black;
            
        }
        footer > p{
            text-align: center;
            color: white;
            padding: 10px;
        }
        a{
            color: white;
            text-decoration: none;
        }
        a:hover{
            color: darkgray;
        }