@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    line-height: 1.5em;
}
main{
    margin: 5px;
}
p{
    margin-bottom: 10px;
    text-align: justify;
}
header,section.normal{
    padding: 20px;
    
}
section.flex-content{
    padding: 20px;
    border-radius: 5px;
    background-color: lightgray;

    display: flex;
    flex-flow: column wrap;
}
section > h1{
    font-size: 1.5em;
}
article.text-media{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
article.media-text {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}
article > div.text {
    flex: 1 1 500px;
}
article > div.media {
    flex: 1 0 400px;
}
div.media > img {
    display: block;
    margin: auto;
    width: 300px;
    padding: 10px;
}
div.media > iframe {
    display: block;
    margin: auto;
    width: 90%;
}