@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.conjunto{
    width: 100vw;
    height: 100vh;
    display: grid;
    text-align: center;
    grid-template-columns: 2fr 130px;
    grid-template-rows: 100px 50px 150px;
    grid-auto-rows: 50px;
    gap: 3px;
}
.bloco{
    border: 1px solid black;
    padding: 10px;
}
.bloco1{
    background-color: brown;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}
.bloco2{
    background-color: rgb(27, 27, 132);
    grid-row: 2/3;
    grid-column: 1/3;
}
.bloco3{
    background-color: cadetblue;
    grid-row: 3/5;
    grid-column: 1/2;
}
.bloco4{
    background-color: burlywood;
    grid-row: 3/5;
    grid-column: 2/3;
}
.bloco5{
    background-color: chocolate;
    grid-row: 5/6;
    grid-column: 1/3;
}