@charset "UTF-8";

*{   
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: brown;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section.nao{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}
section.sim{
    position: absolute;
    top: 50%;
    left: 35%;
    width: 100px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}
section.nao:hover{
    background-color: blue;
    
}
section.sim:hover{
    background-color: blue;

}
h1{
    position: absolute;
    left: 40%;
    top: 40%;
}
p.d{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    display: none;
}
div:hover > p{
    background-color: blue;
    display: block;
}