@charset "UTF-8";

/* todas as demais midias */

/* Typical Device Breakpoints 
-----------------------------
Pequenas telas: até 320px
celular: de 320px até 767px
Tablet: 768px até 1023
Desrtop: 1024 até 1200
Grandes telas: acima de 1201
----------------------------
*/

@media screen and (min-width: 767px){
    span#barguer{
        display: none;
    }
    menu{
        display: block;
    }
    menu > ul > li{
        display: inline-block;
    }
    main{
        width: 767px;
    }
}